*{
  margin: 0;
}
h1{
      text-align: center;
      font-family: 'Bukhari Script', sans-serif;
      font-size: 70px;
      font-weight: 500;
      padding: 0;
      margin: 20px;
      margin-bottom: 35px;
      color: #332A3E;
}
body{
  background-image: linear-gradient(#C4A4F6, #A890FB);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
h2{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 800;
    color: #332A3E;
    margin: 2px 0 80px 0;
    margin-top: 2px;
    
}
.greenIcon{
  color:#29CC40;

  }

  .redIcon{
    color:#F96057;
    }

    .yellowIcon{
      color:#FCC02F;
      }
textarea{
  resize: none;
  background-color: transparent;
  color: #7BBD9B;
  border:none;
  outline: none;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Cousine', monospace;
  position: sticky;
  margin: auto;

}
input{
  background-color: transparent;
  border: none;
  outline: none;
  color: #A890FB;
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 500;
}
input::placeholder{
  font-weight: 500;
  color: #978db8;
}
.settings{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.tools{
  display: flex;
  margin-top: 20px;
  position: relative;
  left: -260px;
  gap: 10px;
  cursor: pointer;
}

.codeHeading{
  position: relative;
  margin: auto;
}
.codeHeading:focus{
  outline: none;
 
}
.TopBar{
  
  display: flex;
  flex-direction: row;
  
}
.codeTitleInput{
  margin-top: 15px;
}
.CodeEditor{
  margin: 0 15% 0 10%;
}
.codeBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  position: relative;
  margin: auto;
  /* right: -450px; */
  background: rgba( 51, 42, 62, 0.8 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
 
}

.selectLanguage{
  display: flex;
  flex-direction: column;
}

label{
  font-weight: 500;
  color: rgba(184, 181, 181, 0.993);
  margin-bottom: 10px;
}
.settings{
  padding: 15px 0 15px 30px;
  display: flex;
  flex-direction: row;
  font-family:'Poppins';
  align-items: center;
  width: 43%;
  position: relative;
  margin: auto;
  background: rgba(36, 34, 37, 0.8);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  border: 1px solid rgba(184, 181, 181, 0.829);
}

select{
  background: rgba(36, 34, 37, 0.8);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  font-family:'Poppins';
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 5px;
  border: 1px solid rgba(184, 181, 181, 0.829);
  border: none;
  outline: none;
  padding: 5px;
  color: rgba(184, 181, 181, 0.829);
  transition: 0.5s;
  cursor: pointer;
  
}
.ButtonSetDefault{
  margin-left:430px;
  padding: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fd291e;
 font-family:'Poppins';
  font-size: 15px;
  background: rgba(187, 43, 17, 0.253);
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  transition: 0.7s;
}
.ButtonSetDefault:hover{
  background: rgba(187, 42, 17, 0.39);
}
option{
  border-radius: 10px;
}
.submitButton{
  margin-left:1px;
  padding: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #64fbb0;
 font-family:'Poppins';
  font-size: 15px;
  background: rgba(25, 206, 136, 0.253);
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  transition: 0.7s;
}
.submitButton:hover{
  background: rgba(25, 206, 136, 0.43);
}

.output{
  background: rgba(36, 34, 37, 0.8);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  font-family:'Poppins';
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  border: 1px solid rgba(184, 181, 181, 0.829);
  padding: 20px;
  color: rgba(184, 181, 181, 0.829);
  transition: 0.5s;
  width: 43%;
  position: relative;
  margin: auto;
 
}
.outputText{
  margin-bottom: 20px;
  
  font-weight: 600;
  font-size: 1.2rem;
}
.Output{
  font-family: 'Cousine', monospace;
  margin-bottom: 20px;
  color: #fff;
}
.status{
  margin-bottom: 20px;
  font-family: 'Cousine', monospace;
}
.exec{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Cousine', monospace;
}
.jobId{
  font-family: 'Cousine', monospace;
}

footer{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Poppins';
  text-align: center;
  margin-top: 10%;
  background-color: #332A3E;
  padding: 10%;
  letter-spacing: 5px;
}